<div id="header">
    
    <div class="wrap">
      
      <div id="nav">
        
        <div id="nav-menu">
          
        </div>
        
        <div id="user-nav">
          <p>
          <% if user_signed_in? %>
            <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <%= link_to "Profile", edit_user_registration_path %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
          <% end %>
          </p>
        </div>
        
      </div>
      
    </div>
    
  </div>