%tr
  %td= item.title
  %td= item.host
  %td= item.url
  %td
    =link_to t('actions.show'), [@cart, item]
    =link_to t('actions.edit'), [:edit, @cart, item]
    =link_to t('actions.delete'), [@cart, item], method: :delete, confirm: t('action_check')