%tr
  %td= cart.title
  %td
    = link_to t('actions.edit'), [:edit, cart]
    = link_to t('actions.show'), [cart]
    = link_to t('actions.delete'), [cart], method: :delete, confirm: t('action_check'), data: { confirm: true }

